<% wrap_layout :layout do %>
  <div class="coming-soon-border"></div>
  <div class="coming-soon-bg-cover"></div>

  <div class="container cooming-soon-content">
    <div class="row">
      <div class="col-md-12 coming-soon">
        <h1>How I Code.</h1>

        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
