---
title: Subscription Confirmed!
layout: coming_soon
---
<h2>Subscription confirmed</h2>

<p>
  That's your subscription to the mailing list successfully processed and
  confirmed and all that jazz. Thank you so much for showing an interest, it
  really means a lot to me! Hopefully you'll find this to be an entertaining
  and useful collection of podcasts over the next few years. :)
</p>

<p>
  Meanwhile, if you haven't pimped this project to all your friends, now's the
  last time I'm going to remind you &ndash; at least till I send out the next
  email, that is. ;) Tapping the like/share/tweet buttons below will help to
  spread the word!
</p>
