---
title: Thank you for signing up!
---
<div class="coming-soon-border"></div>
<div class="coming-soon-bg-cover"></div>

<div class="container coming-soon-content">
  <div class="row">
    <div class="col-md-12 coming-soon">
      <h1>How I Code</h1>

      <p>
        Thank you for signing up to the mailing list! You'll get a wee email
        from Mailchimp shortly, just to confirm your email address. Click the
        button in that email, and you're all set!
      </p>

      <p>
        Meanwhile, it would really help me out if you could spread the word
        about this wee project. The more people I know are interested, the more
        motivated I'll be to get on with it. Plus, if I can demonstrate that
        there's a good sized audience, perhaps some, err, higher profile
        developers might deign to talk to me, eh?
      </p>

      <p>
        You can help spread the word by liking and sharing and tweeting on your
        various social networks. I've attached some convenient buttons to the
        bottom of the page. Please do click 'em and tell your friends. Thank
        you, I really appreciate it! Oh, and follow me on Twitter while you're
        there, too!
      </p>
    </div>
  </div>
</div>
